[user]
	name = Arnau Llamas
	email = arnau.llamas@gmail.com
	signingkey = ~/.ssh/github-signing.pub

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[gpg]
	format = ssh

[init]
	defaultBranch = main

[pull]
	rebase = true

[url "https://github.com"]
	insteadOf = git://github.com

[core]
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	syntax-theme = Catppuccin Mocha
	line-numbers = true
	side-by-side = false
	navigate = true
	hunk-header-style = omit

[credential]
	helper = cache --timeout=604800
