gum 0.10.0
terraform 1.5.7
terragrunt latest 0.51.4
tflint latest 0.46.0
kubectl latest 1.24.0
kind latest 0.20.0
helm latest 3.7.0
nodejs latest 20.10.0
yq latest 4.34.2
github-cli latest 2.32.0
act latest 0.2.49
rust latest 1.73.0
golang 1.21.4
trivy latest 0.48.0
pre-commit 3.2.2
pnpm 8.13.1
jq 1.7
